:root {
    --level-1: #e0e0e0;
    --level-2: #d0d0d0;
    font-family: sans-serif;
}

nav {
    height: 3rem;
    margin: 0;
    width: 100%;
    background-color: var(--level-1);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

nav>ul {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    list-style: none;
    height: 100%;
}

nav>ul>li:nth-child(1) {
    &>a {
        border-radius: 0.25rem 0 0 0.25rem;
        -webkit-border-radius: 0.25rem 0 0 0.25rem;
        -moz-border-radius: 0.25rem 0 0 0.25rem;
        -ms-border-radius: 0.25rem 0 0 0.25rem;
        -o-border-radius: 0.25rem 0 0 0.25rem;
    }
}

nav>ul>li>a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
    font-size: 1rem;
}

nav>ul>li>a:hover {
    background-color: var(--level-2);
}

section {
    background-color: var(--level-1);
    padding: 0.75rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.section-overflow {
    overflow: hidden;
    height: 16rem;
    position: relative;
    width: 100%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.section-overflow>div {
    background: linear-gradient(to bottom,
            #ffffff00,
            #ffffffff 100%);
    position: absolute;
    width: 100%;
    top: 12rem;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
}

.section-overflow>section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section>h2 {
    margin: 0;
}

body>div {
    margin: 1rem 0;
}

li>h3 {
    margin: 0;
}

li>p {
    margin: 0;
}