:root {
    --navbar-color: #e0e0e0;
    --navbar-color-hover: #d0d0d0;
    font-family: sans-serif;
}

nav {
    height: 3rem;
    margin: 0;
    width: 100%;
    background-color: var(--navbar-color);
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

nav>ul {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    list-style: none;
    height: 100%;
}

nav>ul>li:nth-child(1) {
    & >a {
        border-radius: 0.25rem 0 0 0.25rem;
        -webkit-border-radius: 0.25rem 0 0 0.25rem;
        -moz-border-radius: 0.25rem 0 0 0.25rem;
        -ms-border-radius: 0.25rem 0 0 0.25rem;
        -o-border-radius: 0.25rem 0 0 0.25rem;
    }
}

nav>ul>li>a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
    font-size: 1rem;
}

nav>ul>li>a:hover {
    background-color: var(--navbar-color-hover)
}